<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>servicecafe</servlet-name>
    <servlet-class>isetj.servlets.CoffeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servicecafe</servlet-name>
  	<url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>search</servlet-name>
  	<servlet-class>isetj.servlets.SearchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>search</servlet-name>
  	<url-pattern>/goSearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>authentication</servlet-name>
  	<servlet-class>isetj.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>authentication</servlet-name>
  	<url-pattern>/verif</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	  <servlet-name>Compte</servlet-name>
	  <servlet-class>isetj.servlets.CompteurServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Compte</servlet-name>
  	<url-pattern>/CompteurServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>